USE [MineLab]
GO
/****** Object:  Default [DF_user]    Script Date: 04.12.2022 16:45:56 ******/
CREATE DEFAULT [dbo].[DF_user] 
AS
'user'
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId1] [int] NOT NULL,
	[userId2] [int] NOT NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_chat] [int] NULL,
	[id_author] [int] NULL,
	[message] [text] NULL,
	[checkRead] [bit] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[name] [varchar](20) NOT NULL,
	[level] [int] NOT NULL,
 CONSTRAINT [PK_Permissions_1] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[name] [varchar](20) NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](20) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[level] [varchar](20) NOT NULL,
	[name] [varchar](20) NULL,
	[surname] [varchar](20) NULL,
	[secondname] [varchar](20) NULL,
	[usericon] [varbinary](max) NOT NULL,
	[persona] [varchar](20) NULL,
	[registerDate] [datetime] NULL,
	[lastJoin] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [login] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__7838F272BA6ACB4F] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] SET (LOCK_ESCALATION = DISABLE)
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [df_check]  DEFAULT ((0)) FOR [checkRead]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [df_level]  DEFAULT ('user') FOR [level]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [df_icon]  DEFAULT (0x89504E470D0A1A0A0000000D4948445200000040000000400806000000AA6971DE000001376943435041646F6265205247422028313939382900002891958FBF4AC3501487BF1B45C5A15608E2E0702751506CD5C18C495B8A2058AB4392AD49439562126EAE7FFA108E6E1D5CDC7D022747C141F1097C03C5A98343840C058BDFF49DDF391CCE01A362D79D865186F358AB76D391AEE7CBD917669802804E98A576AB7500102771C418DFEF0880D74DBBEE34C6FB7F321FA64A032360BB1B6521880AD0BFD2A9063104CCA09F6A100F80A94EDA35104F40A997FB1B500A72FF004ACAF57C105F80D9733D1F8C39C00C725F014C1D5D6B805A920ED459EF54CBAA6559D2EE2641248F07998ECE33B91F87894A13D5D15117C8EF0360311F6C371DB956B5ACBDF57FFE3D11D7F3656E9F4708402C3D17594178A12E7F55183B93EB62C770190EEF617A5464BB3770B7010BB745B65A85F2163C0E7F00C0C64FFDF3533FC8000000097048597300004E2000004E2001167D99DE000005F269545874584D4C3A636F6D2E61646F62652E786D7000000000003C3F787061636B657420626567696E3D22EFBBBF222069643D2257354D304D7043656869487A7265537A4E54637A6B633964223F3E203C783A786D706D65746120786D6C6E733A783D2261646F62653A6E733A6D6574612F2220783A786D70746B3D2241646F626520584D5020436F726520362E302D63303033203131362E646463376263342C20323032312F30382F31372D31333A31383A33372020202020202020223E203C7264663A52444620786D6C6E733A7264663D22687474703A2F2F7777772E77332E6F72672F313939392F30322F32322D7264662D73796E7461782D6E7323223E203C7264663A4465736372697074696F6E207264663A61626F75743D222220786D6C6E733A786D703D22687474703A2F2F6E732E61646F62652E636F6D2F7861702F312E302F2220786D6C6E733A786D704D4D3D22687474703A2F2F6E732E61646F62652E636F6D2F7861702F312E302F6D6D2F2220786D6C6E733A73744576743D22687474703A2F2F6E732E61646F62652E636F6D2F7861702F312E302F73547970652F5265736F757263654576656E74232220786D6C6E733A64633D22687474703A2F2F7075726C2E6F72672F64632F656C656D656E74732F312E312F2220786D6C6E733A70686F746F73686F703D22687474703A2F2F6E732E61646F62652E636F6D2F70686F746F73686F702F312E302F2220786D703A43726561746F72546F6F6C3D2241646F62652050686F746F73686F702032312E32202857696E646F7773292220786D703A437265617465446174653D22323032322D31312D32365430313A35333A31392B30353A30302220786D703A4D65746164617461446174653D22323032322D31312D32365430313A35333A31392B30353A30302220786D703A4D6F64696679446174653D22323032322D31312D32365430313A35333A31392B30353A30302220786D704D4D3A496E7374616E636549443D22786D702E6969643A35336461336230352D313538322D626134382D613830652D3931303963643035323266302220786D704D4D3A446F63756D656E7449443D2261646F62653A646F6369643A70686F746F73686F703A61396466313235642D653663332D396234622D613237382D3734346131323765386530372220786D704D4D3A4F726967696E616C446F63756D656E7449443D22786D702E6469643A63386666333330332D633062662D323834312D383139642D373331343039346335653464222064633A666F726D61743D22696D6167652F706E67222070686F746F73686F703A436F6C6F724D6F64653D2233222070686F746F73686F703A49434350726F66696C653D2241646F62652052474220283139393829223E203C786D704D4D3A486973746F72793E203C7264663A5365713E203C7264663A6C692073744576743A616374696F6E3D2263726561746564222073744576743A696E7374616E636549443D22786D702E6969643A63386666333330332D633062662D323834312D383139642D373331343039346335653464222073744576743A7768656E3D22323032322D31312D32365430313A35333A31392B30353A3030222073744576743A736F6674776172654167656E743D2241646F62652050686F746F73686F702032312E32202857696E646F777329222F3E203C7264663A6C692073744576743A616374696F6E3D227361766564222073744576743A696E7374616E636549443D22786D702E6969643A35336461336230352D313538322D626134382D613830652D393130396364303532326630222073744576743A7768656E3D22323032322D31312D32365430313A35333A31392B30353A3030222073744576743A736F6674776172654167656E743D2241646F62652050686F746F73686F702032312E32202857696E646F777329222073744576743A6368616E6765643D222F222F3E203C2F7264663A5365713E203C2F786D704D4D3A486973746F72793E203C2F7264663A4465736372697074696F6E3E203C2F7264663A5244463E203C2F783A786D706D6574613E203C3F787061636B657420656E643D2272223F3E0F557BE000000ED149444154789CCD9B7B8C5CD57DC73FBF73EF9D3B333BFBB077FD5ABFB16B4CF0031B174AC020108DA8520422A964E24053B529901014A5214DA9441BA9E50FFA90DA94574CA20402A4B4988426101E22180C896D8C2D6C8C0D183FD6ECDAEBB5BDDEE7CC7D9C5FFFB833F6AC77EDDD9D193B7CA52BAFE79EF37B9D737EBF737EBF73A5EB602FA3412D0806451105A4FCA5802894FFAE02288880320B61097011B0109805340339C02FF608803EE008D006EC04B602EF027B414FD22CB12CE75D62AB65A21986BC3B1DDC515B54864B11B901B816E17CA0A1423A7DC02E9057815F006F51B2428D20359C01CD887C09F81270E929AD60FC829FDA1F6013F033457F2AD0598B19500B034C44F86BE00E92E97DE2CDA884C78772AEEDC023280F23DA7982E1B93780FC05F0F7C0BC52D35189D5062509F603F781AE016C25063015F29F0FF24BE04724CA2BE74E79CAF8CD021E067911B8A012429518E08B24CEE8F365C2FCBE50E27D2DC89B205F1E2F8171194090EF21F23FC024CEFDA89F0E25392688F03822F78FA7F3580DE0023F00EE2D63FA694349A6BB11795C4FEE31CE88B1EC035C417E4212DECA19D500724A44A99A7CC9457F59943AE06684C2192518350A585903F257D54A06807150CF4FE65D0C689CC4AE13D208124760E3AA599118E2098CBD8533C8EEAA3D7D7751F9C7A2F2D5C138A8EF637A8EE2ED7A1377F73BE21EDC8DF477274640C0C6683A47DFEAFB541B5A208EAA660BACC64A8745EF3E5D0377C4FD1680CA4D20FF50FA5FA512A89F45FABBC9BEB246FCF5FF8DD3B907A200C4246705397180807C3FE9D94BA4FF0BDF52D36F930D48E5282E07F9B628EF2AFAF8488DA4ABBD6FA4DFE782BC0D4CA462E5054D67F076AC27F7B37BC5D9B70D523EB82946DEE50251886D9A42CF6D0F6B3CF342D44F2341A1DA252140AFA297901CB286BE3CDC31CC0788A83C0F721DD58C7C3A4BFAF5A7A4EEC97B90B000A9CCD83AC611B81ED1D4F9142EB981FCCAD5AA997A2418AC5414488CF03AA2D78286435E1C3E650608DC4AE2F52B573E93C5FFEDB352FFC3BB128AAE374E0216C200A202D1BC15F4FDF9BF68346B3152E8E7B4B3677408F075451F1CF2E3E14F86186082886C016653A1013495C6DDB78DC67F5F2592EF2B4EF92A90EFC336CFA4E7AEC7349AB11009F2955212E0A0AA2E054E1CA08C18E5C4939CEA2A561E311087D4FDEF3F89F41DAD5E7980743DA66B3FB927FE4E24C8273C2A83025345F846B9CE46AD507C26807CA31A59D54F93DEF49C783BDE8074DD383B2B8411144288CA43A042A61E77D75BA4DF7A5AD44F57232220B7AB95A925BDCBCC29AB81E9543CFA820405D2AF3F510C6D6358AB56210813A55D07E6B6A2D75F09CB2F804230B4ADE3E1BFF934921F2C0B9DE386022DC0574A2788D256D888704BA55401D44DE1EEDF8EBB6F1BA4CE304A5693115685BA0CCC6D8505B3D1D9D3A0B9113C0F0D43248860EB2E48179791E7E3B6EFC2E9F88068D6A224B254081159ADE8BF01A15B1CA9E5C08A8A2902380EDE871B84C15EC8D40F7D672D447162FF5C06E6CF84F9334F2AED38C97B1B43BE008E41AFBF120902D8B127318218C8F7E1EDD922D1DCA54A38A21463C522E0B3C03A1714819B8ADEA5F2FDBE82DBB6E3E4F42C8D34407D1DCC980CF366A2E74D87090D604CA274E929476C1323DC7875321376B7819F02559CF60F2A16F1A4A408495E639D0B08C21F574733D9CB9BE387123BAA42D687D973D0F366C09C5668AA2F2A1D25CE6E34C416521E7AD335C8D32FC1814E300673B43D9951554244AE56C57141A693E4EBABA006622D1285C90C0842B8EA62F49A4B200C93111E8BD2A7228AA131074B17C0FE83200633D883C4453E5AF98405E603735D449782E4AAA134221CE76458AB06D626CB0900490E52715CED8A55C047F462179565C58855F5795FC2E0E4A8948D8E8880570C38D6A2A7AEF9523BD74996094018A1A78EB05095F71F06956546442BCAA60E25A4A871285CF43905334CF9308EF9D52F5EE7D1479E65FFDE8E44D15320AE437B5B273FFAC1CF796EED6B04619418AE8C07B1122CFD1CEAFAD51E958BB2E9052E438B1995C30ABA7892F0D10478FBE8C9699B72D9B5E5635E78F177A855C230E28EAF7D61F81236C20B2FFE8ECD9B77210233A64F62F9658B9246AA105AB8A8095D3A898AB3F9C320D30C48730D088146A43A5E851533E0AAE5C9DA5505AB34D4D75197CDA0C0A496261019C17F092D2D4D8840369BA6B12997440225F9F78A8BE0B239A40EFD06890A54712A2C47A30B8C73D33E1214C425CECEC53BBC03BDE65AE8CB9F58C7B3E64CE5B6AFDE40D7916E962E998FC6C37D8086117F72DD1FD13AAD99A6A61CF3E6CF40C32831D6C2B990CB20FB7F43D43407351E626BE20BB2D2D5DE7F109842B54E501C24EC26B7E741F132169CD490782D9E0B8E812044EDC8ACC408A4BCC451066561D318B02161BFA56FCE1D6AFD4988569D3314A0B37606009014A28334763C2426EE0319EEEC2A8345254DF7B4DBD53A0DB51A7D013A0DC9E584DA4003ACF8C4DE64849AA4B601108D89BD16ACC9D64AF9124203F4D792223884E97935095327A03141FA3C909ADFE71830A0476A495134A490BD5063B719AA5FA7A031D66924C82ED11AACFB5371DC90DCC9A9212CD66964B0E18A5A382A4443061B2E277627168B28B58476185579BFC654110DC8D72DD37CDD32C4569ECE163B4821BB887CEE0F55B476AEAA0455761A44B796F8D5903482D23FE1F35AC82E423418671A4B100D09320BE99B78BD267DCF42415AD86250D94ACD1D2180458D4B6FCB9F693EBD0889F360DC510C21605CC41628F80BE86D59A56AFCB330F5112040E51D837000A83ACD3222178DC1F884B6010E6C84DE76B011182731C690C74914EDED804F36124659D44D2734CE0E7603BB5D542DC82B08CBCE1627C142E1381CDC06A92CF88DE06593DD22800D201880420F04FD6007923E6717AF81462E80A26B05F91B926356CD169BEB195259707D077092510E07136587B129568A8D03D6C1F71D4C0E827E4314D6D418C92553E519389916DF44723575792D38B89EC1F50C070FF4B27EFD5EFC8E9DAC5AEC80A558161F8580EFF0DC331F727CD24E56AE9CC4B499F54491250A6A6408E57DD037E0A40162557E2A529D018C23A47C8743FBFAF9F953EFCBDAB5EFD2D696E7F20B8FB16A89C7587CB900381EBF7AA9879737BF283367FADC78E3626E5AFD199D3AA78EB01013C7D54D5285A7281E01CAF696FA38C8DF52E1C128957618EC8B78E1B18F65C3F31DEC39D04577F7204D8D1EFB8E4CE4D0D12C539AFB211A2599E1588E1D4BB3BBB399A62687EEEE415E5BBB8FB64D0372E975D3B8F6E6399AADF708F2153947018E21FAC39286E5C5D12ED0072AA19ACEBAECDB799CEF7F7BB3BCF8F81E0607222637D7934DFB186339DC93E6971B67813F8604693AE4D79B67D271348B632C593FC5D496060AF998979EDCCBF7BFB559F6EC384E3A5BE9B940D78868FB48C551547908F884716C8AD259976D6F75F2F03D5BE5C047BD64722EC601DFF568C93510AB25EDC5AC796921DB774E45EA0AC80857584514A92BF0E1EE161E78FE427CCF12ABA5B9AE9EB49B420C64722EED7BFA78E49E2DB2F58D43E33582005DAAFC878D85D26328D53193A70BF8DE5829FA5987F73676F1937FDE2E837D117EFAE4F9DFAA32AD6102192F853131BD8329EE7AE4B3BCBA610E18453221922E3E99001CCB1B9B6771E7432B39DAEBE39898B4EBD1DA38112D5B91A9B4436130E6B1FBB6CBB6373BF1C76304E53EA0BD74354904A4AB63D81D2107781995AB39832FF05286436D033CF89D77A4E758012F353CF9E188E1D8603F3B0F1DC0AA12C50E202C9F77984BCF3F44EBC44144948EA359367E3899B73F988422784E72883A7FCA749AEBEA8947A80485414C5D438AAFDFBF4CA7CDCD1116CE182104D880E855A043120AC3AEC814B140908D40E3484648C2B5E1D17BB7CAF6DF7691AE3BFD2838C670B4BF8F8FBA3A08A210230E85D0218A4DE27B006B05D7B1A4BC18D518CFF198D732255942672883E50722165EDCCC6DF75DA46AF5748522010614BD8CE40B942130AACA08CF07AAFAB5320243904A3BBCF3DA41DEDB7066E501626B99589763F1B4D94CCA352202AE1B92F10B645221E954F2B7EB868840735D038B5B678DAA3C24FE67E7E6236C7AB943FCCC88E93701B0AADF54ABEF6AF1E65DF9735AE9157D5284A5A87CA74848A158FACB5BD63F7740648C27BCD85AD29EC782C9ADF40779BA07FAE90BF204C5ECB0671C727E9AA64C1DB9E20D90D1942FC17184F5FF7780E5574FC19891D2EDFA00E89AE2FE6F587FD79C316FA9DF45653AB0FA448794E1E36DDDB47DD88BE78F3DE9698B92D5A5D2E4FC4CB1DE915CD31031C542899E683756B82987F68FFBD8F3DE7116AE682EDF1F08B016A3DF3CD3CE63B4128B62EC5F823E5B24288E63787FD31109F371453755AC2AB1B558B568D1BF5BB5C5DFC6BFC3138128B0ECD878448C39F9290BF06BC4DE0A9C312D35961A5301E166E00904C2C0CADE9D3D18A786F9932AE1B842DB073D14F2B114D7E53388FD22327A9E634C45368582A2B718E15F07FA428E1D1AC4713F3D06308EE1E8A13C03BD21627800D5553AC624CF78AA8C0ADCAD56BF82C8F1E0CC71F79C222CC488A1DFC67A3B7027A34CFB728CEDAB3195A4FC4752EEEED8DBB7E8F91F7FFC9FEF6D3872B5EB09AE57AB6AEDF810479630B02C5CD1FCD60D5F9D7FE794D9B92D6AB558AED731F9A8711BC05A40953856E7ED570EDEB1EED9B6EF1EFE6460BA9772CED9B28863252CC4344FCD1C5A79E3CCFB2FFFD3D6FFF2524E108536B95370B60D10168AF1DB37741E189CF6CEAB07EFD8B2EED06DC73A0B931D57705C53C55DC6D3090151648923A5A9C53FB2F4CAC98FAEB866EA03936766DB922F6FA4F809C23932802A58AB04798BEBC2E14F065B776C3C72EBAECD47561D6E1F5C1A878A710563A46263A8825A258E14C7155A5A33DB172C9BF8F4922B26FDB8795AA6CD468AE319FC8CC118F3FB3140BE3F46AD250A15B54A7F4FE81EF8A86FE59E1DDD371DDCDB7F557F4FB8200CAD5FFA983CB9453BDC28C99E484F5C0801F05226C8D6BB1F4D9D935B37F7338DCFCEF883FA75B9C654E0A692FEC6185269E7D36180206F090B3161901823C8471CED2C38470F0ECEEBED0E96F71C292CEB3B1E2E0C0B716B146A93B59A4549D2C242608C0CB89E1CF77CA723D794DA55DFE46DA99FE86F9E3029BDBBA53513A6D20EAE27782987745DE26F6A6180FF07EF00F3AB6D163E000000000049454E44AE426082) FOR [usericon]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Chat] FOREIGN KEY([id_chat])
REFERENCES [dbo].[Chat] ([id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Chat]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Permissions] FOREIGN KEY([level])
REFERENCES [dbo].[Permissions] ([name])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Permissions]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Personal] FOREIGN KEY([persona])
REFERENCES [dbo].[Personal] ([name])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Personal]
GO
/****** Object:  StoredProcedure [dbo].[addMessage]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addMessage]
@id_chat int,
@id_author int,
@message text,
@date datetime
as
insert into Messages (id_chat, id_author, message, date)
values (@id_chat, @id_author, @message, @date);
update Chat
set Chat.updateDate = @date
where Chat.id = @id_chat
GO
/****** Object:  StoredProcedure [dbo].[checkChat]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[checkChat]
@id int
as
select top 1 Messages.checkRead, Messages.id_author
from Messages
where @id = Messages.id_chat
order by Messages.id desc
GO
/****** Object:  StoredProcedure [dbo].[createChat]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[createChat]
@id int,
@id2 int,
@date datetime
as
if not exists (Select * from Chat where (@id = Chat.userId1 and @id2 = Chat.userId2) or (@id = Chat.userId2 and @id2 = Chat.userId1))
insert into Chat(userId1, userId2, updateDate)
values (@id, @id2, @date)
GO
/****** Object:  StoredProcedure [dbo].[dataPersonal]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[dataPersonal]
As
select Users.login, Users.name, Users.secondname, Users.surname, Users.usericon, Users.Persona, Users.id
from Users
where Users.Persona is not null
GO
/****** Object:  StoredProcedure [dbo].[dataUser]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dataUser]
@name varchar(20),
@surname varchar(20),
@secondname varchar(20),
@id int
As
update Users
set name = @name, surname = @surname, secondname = @secondname
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[dataUsers]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[dataUsers]
@id int
As
select Users.login, Users.usericon, Users.id
from Users
where @id != id
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteUser]
@id int
as
delete from Users where id = @id
GO
/****** Object:  StoredProcedure [dbo].[editChecks]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editChecks]
@id int
as
update Messages set Messages.checkRead = 1 where Messages.id_chat = @id;
GO
/****** Object:  StoredProcedure [dbo].[iconUser]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[iconUser]
@icon varbinary(max),
@id int
as
update Users
set usericon = @icon
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[regUser]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[regUser]
@login varchar(20),
@password varchar(max),
@date datetime
As
select count(*)
	from Users
	where login = @login
if ((Select COUNT(*)
From Users
Where login = @login) = 0)
	insert
	into Users(login, password, registerDate)
	values(@login, @password, @date)
GO
/****** Object:  StoredProcedure [dbo].[roomUsers]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[roomUsers]
@id int
As
Select Users.login, Users.name, Users.surname, Users.secondname, Users.usericon, Chat.id
from Users, Chat
Where (Chat.userId1 = @id and Users.id = Chat.userId2) or (Chat.userId2 = @id and Users.id = Chat.userId1)
order by Chat.updateDate Desc
GO
/****** Object:  StoredProcedure [dbo].[sMessages]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sMessages]
@id int
as
select Messages.message, Messages.checkRead, Messages.date, Messages.id, Messages.id_author
from Messages
where Messages.id_chat = @id
GO
/****** Object:  StoredProcedure [dbo].[sUser]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sUser]
@login varchar(20),
@password varchar(max),
@date datetime
As
Select Permissions.level, Users.id, Users.name, Users.secondname, Users.surname, Users.usericon, Users.login
From Users, Permissions
Where login = @login and password = @password and Users.level = Permissions.name;
update Users set Users.lastJoin = @date where login = @login and password = @password
GO
/****** Object:  StoredProcedure [dbo].[updateUser]    Script Date: 04.12.2022 16:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateUser]
@id int
As
Select Permissions.level, Users.id, Users.name, Users.secondname, Users.surname, Users.usericon, Users.login
From Users, Permissions
Where Users.level = Permissions.name AND id = @id
GO
